<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiramie.databseDemo.mapper.mysql1.PtUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kiramie.databseDemo.entity.mysql1.PtUser">
        <id column="user_id" property="userId" />
        <result column="uuid" property="uuid" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="mobile" property="mobile" />
        <result column="nick_name" property="nickName" />
        <result column="real_name" property="realName" />
        <result column="avatar" property="avatar" />
        <result column="inviter_id" property="inviterId" />
        <result column="inviter_mobile" property="inviterMobile" />
        <result column="utm_source" property="utmSource" />
        <result column="utm_medium" property="utmMedium" />
        <result column="utm_content" property="utmContent" />
        <result column="state" property="state" />
        <result column="remark" property="remark" />
        <result column="memo" property="memo" />
        <result column="is_enabled" property="isEnabled" />
        <result column="is_deleted" property="isDeleted" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="created_by_name" property="createdByName" />
        <result column="updated_by_name" property="updatedByName" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

</mapper>
